node-red-flow.json
[{"id":"764d3eab.5c6f3","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"24968ff2.73fee","type":"watson-conversation-v1","z":"764d3eab.5c6f3","name":"Assisstant","workspaceid":"697e6e67-2bd9-4225-8a94-3785e341adf7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a1dd5b0a-88c1-4a86-aaf4-911e2991abcb","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["a9765c9e.0f866","57e2448c.88eb8c"]],"l":false},{"id":"1a574e93.066fe1","type":"function","z":"764d3eab.5c6f3","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["24968ff2.73fee","5254c00e.6cfe3"]],"l":false},{"id":"fdfd1f86.7b85e","type":"ui_form","z":"764d3eab.5c6f3","name":"","label":"form","group":"ab8b2029.af1c4","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["1a574e93.066fe1"]],"l":false},{"id":"a9765c9e.0f866","type":"function","z":"764d3eab.5c6f3","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["4046eb77.87cdd4"]],"l":false},{"id":"5254c00e.6cfe3","type":"ui_text","z":"764d3eab.5c6f3","group":"ab8b2029.af1c4","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"4046eb77.87cdd4","type":"ui_text","z":"764d3eab.5c6f3","group":"ab8b2029.af1c4","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"57e2448c.88eb8c","type":"debug","z":"764d3eab.5c6f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"ab8b2029.af1c4","type":"ui_group","z":"","name":"CHATBOT","tab":"77d18b54.b824a4","order":1,"disp":true,"width":13,"collapse":false},{"id":"77d18b54.b824a4","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]